USE [spc_dba_utilities]
GO
/****** Object:  Table [dbo].[dba_tmp_list_uat_ad_groups]    Script Date: 8/15/2024 4:33:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dba_tmp_list_uat_ad_groups](
	[cn] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
