USE [spc_dba_utilities]
GO
/****** Object:  StoredProcedure [dbo].[test_stored_proc_create_for_deployment]    Script Date: 8/15/2024 4:33:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[test_stored_proc_create_for_deployment]
AS

BEGIN

SELECT 'TEST STORED PROCEDURE CREATION'

END


GO
