USE [spc_dba_utilities]
GO
/****** Object:  Table [dbo].[dba_dashboard_report_command]    Script Date: 8/15/2024 4:33:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dba_dashboard_report_command](
	[commandStatement] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
