USE [spc_dba_utilities]
GO
/****** Object:  Table [dbo].[temp_instance_list]    Script Date: 8/15/2024 4:33:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_instance_list](
	[server_name] [sysname] NOT NULL
) ON [PRIMARY]
GO
